.main-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.content-area {
  flex-grow: 1;
  overflow-y: auto;
}

.active-item {
  background-color: #0d6efd !important; /* Azul de Benconsult */
  color: white !important;
  font-weight: 500;
}

.list-group-item:hover:not(.active-item) {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
